@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  ::selection {
    color: white;
    background-color: var(--primary);
  }
}

* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.detail-button-container {
  position: relative;
}

/* 모바일에서는 장식 요소 숨김 */
.detail-button-container::before,
.detail-button-container::after {
  display: none;
}

/* 데스크톱에서만 장식 요소 표시 */
@media (min-width: 1024px) {
  .detail-button-container::before {
    display: block;
    content: "";
    position: absolute;
    width: 32px;
    height: 36px;
    left: -32px;
    bottom: 75px;
    background-image: url("/assets/icons/side-rounded-mask.svg");
  }

  .detail-button-container::after {
    display: block;
    content: "";
    position: absolute;
    width: 32px;
    height: 36px;
    right: -60px;
    bottom: -25px;
    background-image: url("/assets/icons/side-rounded-mask.svg");
  }
}

.detail-button-container-right {
  position: relative;
}

.detail-button-container-right::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 36px;
  right: -14px;
  bottom: 60px;
  background-image: url("/assets/icons/side-rounded-mask.svg");
  transform: scaleX(-1);
}

.detail-button-container-right::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 36px;
  left: -42px;
  bottom: -16px;
  background-image: url("/assets/icons/side-rounded-mask.svg");
  transform: scaleX(-1);
}
