@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary: #0a0a0a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  ::selection {
    color: white;
    background-color: #10b981;
  }
}

body:has([data-page-shell="standalone"]) > header,
body:has([data-page-shell="standalone"]) > footer {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
